li{
  list-style: none;
}

.form-control:focus {
	 border-color: #29abe2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102, 175, 233, .6);
}

.has-error .form-control {
  border-color: #c0392b;
}

.has-error .form-control:focus {
  border-color: #c0392b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #ce8483;
}



.has-success .form-control {
  border-color: #27ae60;
}

.has-success .form-control:focus {
  border-color: #27ae60;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #67b168;
}


.btn-default {
  color: #333;
  border-color: #83ceee;
}


.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #ebf7fc;
  border-color: #29abe2;
}


.btn-callred {
  color: #fff;
  background-color: #e74c3c;
  font-weight: bold;
}

.btn-callred:hover,
.btn-callred:focus,
.btn-callred.focus,
.btn-callred:active,
.btn-callred.active,
.open > .dropdown-toggle.btn-callred {
  color: #fff;
  background-color: #c0392b;

}

.btn-callblue {
  color: #fff;
  background-color: #29abe2;
font-weight: bold;
}

.btn-callblue:hover,
.btn-callblue:focus,
.btn-callblue.focus,
.btn-callblue:active,
.btn-callblue.active,
.open > .dropdown-toggle.btn-callblue {
  color: #fff;
  background-color: #1a8dbe;

}

.btn-white {
  color: #fff;
  border: 2px white solid;
  background-color: transparent;
  font-weight: bold;

}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white{
	border: 3px white solid;
  color: #fff;
  font-weight: bolder;


}
.alert {
  padding: 10px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-success {
  color: #27ae60;
  background-color: rgba(46, 204, 113,0.1);
  border-color: rgba(39, 174, 96,0.4);
}


.alert-danger {
  color: rgba(192, 57, 43,1.0);
  background-color: rgba(231, 76, 60,0.1);
  border-color: rgba(192, 57, 43,0.3);
}


.panel-profile{
	width: 300px;
	padding-left: 10px;
  float: left;
}

.panel-profile img{
	display: block;
	width: 128px;
	float: left;
	padding: 5px;
}
.user-info > span{ 
	display: block;
}

.user-info > p{
	clear: both;
	display: block;
}

.description{
	clear:both;
	display: block;
	padding: 5px;
}


.navbar-default .navbar-nav>li>.btn-nav{
	color: #29abe2;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>.btn-nav:hover, .navbar-default .navbar-nav>li>.btn-nav:focus{
	color: #1a8dbe;
	 background-color: #ebf7fc;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}
