html{
	  position: relative;
  min-height: 100%;
}
body{
	margin-bottom: 60px;
}


.cover{
	background-image: url(../images/background.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 100vh;
}

h1
{
	font-size: 28px;
	font-weight: bold;
}
h2
{
	font-size: 21px;
}

p
{
	font-size: 14px;
}

.navbar
{
	background-color: white;
	color: black;
	padding: 15px;
	margin-bottom: 0px;

}


.row
{
	color: white;
	text-align: center;
}

.carousel-caption
{
	background-color: black;
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.60;
}

.slideshowfix
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
  	max-width: 1000px;
}

.box
{
	height: 250px;
	margin-top: 250px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.6);
}

.carousel {
  background-color: #999;
}

.btn-white {
  color: #fff;
  border: 2px white solid;
  background-color: transparent;
  font-weight: bold;

}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white{
  border: 3px white solid;
  color: #fff;
  font-weight: bolder;

}

.navbar-line{
background-color: #E74C3C	;
width: 100%;		
height: 3px;
position: absolute;
top: 0px;
left: 0px;
}

.navbar-brand{
		background-image: url("../images/logoRAS.png");
		-webkit-background-size: 50px;
		background-size: 50px;
		background-repeat: no-repeat;
		text-indent: 40px;
		font-size: 28px;
}

footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	margin-top: 25px;
	background-color: #4d4d4d;
	height: 60px;
	-webkit-box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
	padding: 20px;
}


.fb-share-button,{

	float:left;
	
}

.middle
{
	margin-left: auto;
	margin-right: auto;
	display:block;
	width:150px;
	height:30px;
}

#checkBtn
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profilePic
{
	display: block;
	width: 50px;
	margin-right: auto;
	margin-left: auto;
}

.dashboarduser{
	margin-top: 50px;
	padding: 20px 15px;
	border: 1px solid darkgrey;
	border-radius: 10px;
}

.bookings h1{
	text-align: 
}